<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>
  <head>
   
</head>

  <body>
    <header>
      <h1>Let's Chat!</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" />
	<button id="send_username" type="button">Change username</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

  
    <section>
<div id="room">
   <button id="room1" type="button" > Room1</button>  
   <button id="room2" type="button" value="room2" > Room2</button>  
  </section>
    
    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="chat.js"></script>
    
    ------------Below is for admin -----------
    <br>   </br>
    <section class="row"></section>
    <button id="event_log">Event log</button>
    <button id="chatlog">Chat History log</button>
   
    <section id='historyTab' style="display:none;">
      <table border="1" style = "padding:50px;">
        <thead>
          <th>Sender</th>
          <th>Message</th>
          <th>Room</th>
          <th>Date</th>
        </thead>
        <tbody id='historyChat'>

        </tbody>
      </table>
    </section>

    <section id='eventTab' style="display:none;">
      <table border="1" style = "padding:50px;">
        <thead>
          <th>Error Type</th>
          <th>Error Message</th>
          <th>Date</th>
        </thead>
        <tbody id='eventChat'>

        </tbody>
      </table>
    </section>

  </div>




  </body>
</html>

